{% extends "layout.html" %}

{% block content %}
   <h1>Sign Up</h1>
   <form action="/login" method="POST">
      <input placeholder="Username" type="text" name="username"
          maxlength="60" autofocus required>
      <br/>
      <input placeholder="Email" type="email" name="email" maxlength="400" required>
      <br/>
      <input placeholder="Password" type="password" name="password" maxlength="255" required>
      <br/>
      <input placeholder="Confirm Password" type="password" name="password-confirm"
          maxlength="255" required>
      <br/>
      <input type="submit" value="Register">
   </form>
{% endblock %}
